*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"noto serif bengali", sans-serif;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(img2.jpg);
    background-size:cover;
    background-attachment: fixed;
    color:white;
}


/* heading css styles */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:5%;
}

#logo{
    font-size:3rem;
    font-weight:700;
    color:rgb(255, 144, 47);

}

header nav{
    display: flex;
    align-items: center;
    gap:24px;
}

header nav ul{ 
    list-style-type: none;
    display:flex;
    gap:10px;
    font-size: 1.5rem;
    color:white;
}

header nav ul li a{
    text-decoration:none;
    color:white;

    &:hover{
        color:rgb(255, 136, 0);
    }
}



header button{
    background-color:rgba(0, 255, 179, 0.596);
    color:white;
    font-size:1.5rem;
    padding:4px 24px;
    border-radius:4px;
    border:none;
    cursor:pointer;
 

    &:hover{
        background-color:rgb(255, 136, 0.2);
    }
}



/* main section start */

#bgchangedid{
    display:flex;
    justify-content:flex-start;

}

#bgchange{
    padding:16px 24px;
    font-size: 1.6rem;
    line-height: 16px;
    text-align: center;
    border-radius: 8%;
    border: 0px solid black;
    color:black;
    background-color:rgb(255, 145, 0);
    cursor:pointer;

    &:hover{
        background-color:rgba(60, 255, 0, 0.781);
    }
}


main{
    margin:5%;
}

main #hero-section{
    display: flex;
    align-items: center;
    gap:30%;
    margin-top:10%;
}


.row{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.row h1{
    
    font-size:64px;
    color: rgb(255, 255, 255);
}


.row p{
    font-size:24px;
    line-height: 32px;
    color:rgba(255, 254, 254, 0.925);
}




#about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    border-radius: 25px;
    height:500px;
}

#about-section div{
    width:55%;
}

img{
    margin-top:40px;
    filter: drop-shadow(20px 10px 100px rgb(17, 13, 13));
}

.buttonss{
    padding:8px 16px;
    border:none;
    color:white;
    margin-top:20px;
    background-color: rgba(45, 45, 189, 0.795);
}



form{
    display:flex;
    justify-content: center;
}

fieldset{
    width:50%;
    padding:10px;
    border: none;

    display:flex;
    flex-direction: column;
    align-items: stretch;

    gap:8px;

}

label, input{
    display:block;
    border-radius: 8px;
}

label{
    font-size: 1.6rem;
}

textarea{
    width:100%;
    resize: none;
    height:100px;
    background-color: black;
    color:white;
    border-radius: 8px;
    padding-left:8px;
}

input{
    width:100%;
    height:40px;
    background-color: black;
    color:white;
    padding-left:8px;
}

input[type="submit"]{
    background-color: rgb(1, 167, 1);
    border:none;
    color:black;
    font-size:1.2rem;
    border-radius: 8px;


    &:hover{
        background-color: green;
    }
}

.centered{
    margin:0 auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}